<div class="container__big-card">
  <div class="big-card__img">
    <img src="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" alt="AWS Badge" height="200px">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Lorem Ipsum is simply dummy text.</a></h1>
  </div>
  <div class="big-card__text">
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
</div>