h1 {
  color: white;
  margin: 0.938rem 0 0.938rem 0;
  font-size: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 7800;
}

hr {
  margin-top: 1.25rem;
}
