<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__container">
    <div class="articles__main">
      <app-big-card imgCover="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" cardTitle="Certificação AWS" cardText="Certificação fundamental dos serviços de TI e seus usos na Nuvem AWS. Demonstra fluência na nuvem e conhecimento básico da AWS. Sendo capaz de identificar os serviços essenciais da AWS necessários para configurar projetos focados na AWS."></app-big-card>

    </div>
    <div class="articles__others">

      <app-small-card imgCover="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" cardTitle="Certificação AWS"></app-small-card>
      <app-small-card imgCover="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" cardTitle="Certificação AWS"></app-small-card>
      <app-small-card imgCover="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" cardTitle="Certificação AWS"></app-small-card>


    </div>
  </div>
</div>